Student_UI/Connected Services/StudentService/StudentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Student.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Student.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GradeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GradeID" type="xs:int" />
      <xs:element minOccurs="0" name="GradeNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="TeacherID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradeModel" nillable="true" type="tns:GradeModel" />
</xs:schema>