Student_UI/Connected Services/StudentService/StudentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Student.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Student.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseModelOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Student.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseModelOfstring" nillable="true" type="tns:ResponseModelOfstring" />
  <xs:complexType name="ResponseModelOfUserModelB45gH_Pky">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Student.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserModel" Namespace="http://schemas.datacontract.org/2004/07/Student.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="tns:UserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseModelOfUserModelB45gH_Pky" nillable="true" type="tns:ResponseModelOfUserModelB45gH_Pky" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
</xs:schema>