Student_UI/Connected Services/StudentService/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Student/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Student/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Student/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Student.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="IStudentService_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetAccountTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountTypes" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetAccountTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IStudentService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ActivateLink_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateLink" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ActivateLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ConfirmReset_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmReset" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ConfirmReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmResetResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachers" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetGrades_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrades" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetGrades_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGradesResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentRating_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentRating" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_RateTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:RateTeacher" />
  </wsdl:message>
  <wsdl:message name="IStudentService_RateTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:RateTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ModifyGrades_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyGrades" />
  </wsdl:message>
  <wsdl:message name="IStudentService_ModifyGrades_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyGradesResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/CheckConnection" message="tns:IStudentService_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/CheckConnectionResponse" message="tns:IStudentService_CheckConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetAccountTypes" message="tns:IStudentService_GetAccountTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetAccountTypesResponse" message="tns:IStudentService_GetAccountTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/SignUp" message="tns:IStudentService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/SignUpResponse" message="tns:IStudentService_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/Login" message="tns:IStudentService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/LoginResponse" message="tns:IStudentService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/ResetPassword" message="tns:IStudentService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/ResetPasswordResponse" message="tns:IStudentService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/ActivateLink" message="tns:IStudentService_ActivateLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/ActivateLinkResponse" message="tns:IStudentService_ActivateLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/ConfirmReset" message="tns:IStudentService_ConfirmReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/ConfirmResetResponse" message="tns:IStudentService_ConfirmReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudents" message="tns:IStudentService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentsResponse" message="tns:IStudentService_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetTeachers" message="tns:IStudentService_GetTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetTeachersResponse" message="tns:IStudentService_GetTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrades">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetGrades" message="tns:IStudentService_GetGrades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetGradesResponse" message="tns:IStudentService_GetGrades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentRating" message="tns:IStudentService_GetStudentRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentRatingResponse" message="tns:IStudentService_GetStudentRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RateTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/RateTeacher" message="tns:IStudentService_RateTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/RateTeacherResponse" message="tns:IStudentService_RateTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyGrades">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/ModifyGrades" message="tns:IStudentService_ModifyGrades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/ModifyGradesResponse" message="tns:IStudentService_ModifyGrades_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/IStudentService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountTypes">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetAccountTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IStudentService/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IStudentService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IStudentService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateLink">
      <soap:operation soapAction="http://tempuri.org/IStudentService/ActivateLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmReset">
      <soap:operation soapAction="http://tempuri.org/IStudentService/ConfirmReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachers">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrades">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentRating">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateTeacher">
      <soap:operation soapAction="http://tempuri.org/IStudentService/RateTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyGrades">
      <soap:operation soapAction="http://tempuri.org/IStudentService/ModifyGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://localhost/Student/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>